<%- include("partials/header"); -%>
<h1 class="mt-5">Contributors</h1>
<p class="lead"><%= aboutContent %></p>
<h2 class="mt-5">We are now xxx members in total.</h2> 
<h6>Promising to create a happy writing community.</h3>
    <h2 class="mt-5">Applications for New Writers Are Open. Hurry Up!!!</h2> 
    <h6>Please fill out the following form and give us at least 24 hours to review your application.<br> You will receive an email from CanAstonish team. </h3>
<%- include("partials/footer"); -%>
