<%- include("partials/header"); -%>
<h1 class="mt-5">Contact</h1>
<p class="lead"><%= contactContent %></p>
<h4 class="mt-5">Get In Touch</h6>
<div>
    <form>
        
        <div class="mb-3"> <input type="text" class="form-control" placeholder="Your Full Name" required> </div>
        <div class="mb-3">  <input type="email" class="form-control" placeholder="Your Email" required> </div>
            <div class="mb-3">  <textarea class="form-control" placeholder="Message" rows="7" required></textarea> </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>

</div>
<%- include("partials/footer"); -%>
